page-history-details {
    // div {
    //     position: relative;
    // }
    img {
        // position: absolute;
        // width: 50%;
        // height: auto;
    }
    h1 {
        font-size: 36px;
        font-family: varela;
        font-weight: bold;
    }
    h2{
        margin:0 !important;
        margin-bottom:10px !important;
    }
    #pres {
        font-size: 30px;
        margin-top:15px !important;
        margin-left:30px !important;
        font-family: varela;
        font-weight: bold;
    }
    #details {
        margin-top:15px !important;
        margin-left:30px !important;
    }
}
