page-article-details {

    .scroll-content{
        padding:0px !important;
        background: rgba(185, 184, 184, 0.993);
    }

    .card-3 {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius:30px;
        background:rgba(240, 234, 234, 0.945)
      }
      .padup{
          margin:20px;
      }
}
