page-doc-prescription {

    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
        font-size: 20px;
    }

    ion-avatar{
        margin: -15px;
        margin-left: -15px;
        margin-top: -10px;
        border-radius:50%;
        height:70%;
        width:70%;
        // border: 12px solid lightblue;
        box-shadow: 0 0 0 20px rgb(70, 63, 129), 
                0 0 0 40px rgb(103, 87, 173), 
                0 0 0 60px rgb(78, 219, 212);
        // box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
        // box-shadow: 0 16px 12px -8px rgb(197, 196, 196) !important; 
    }

    .outlining {
        padding-bottom: 90px !important;
    }

    img {
        border-radius: 50%;
    }

    #left-column {
        padding-top: 70px !important;
        padding-left: 25px !important;
    }

    #downPad {
        padding-bottom: 14px;
    }

    h1{
        font-family:hind;
        font-size:36px;
        font-weight: bolder;
        }
    
    p{
        font-weight: bolder;
    }

    #bton {
        background:rgb(46, 205, 226) !important;
        // box-shadow:none !important;
        border-radius: 6px !important;
        font-size: 15px !important;
        // padding: 25px 14px;
        box-shadow: none !important;
    }

    #time {
        margin: 50% 0%;
    }
}
