page-common-diseases {

    .back-button{
        color:white;
    }

    .card-5 {
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    }

    ion-card {
        border-radius: 10px!important;
        box-shadow:  !important;
    }

    ion-content{
        // background: whitesmoke!important;
    }
    
    .toolbar-background{
        // background: #352F2D !important;
    }
    .toolbar-title{
        color:white;
    }
    
}
